<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
        <form id="add" action="" method="post">
            <header>
                <h3>Sign Up</h3>
            </header>   

            <div>
                <label for="email">Email</label>
                <div>
                    <input type="text" id="email" name="email">
                </div> 
            </div>            
            
            <div>
                <label for="username">Username</label>
                <div>
                    <input type="text" id="username" name="username">
                </div> 
            </div>

            <div>
                <label for="password">Password</label>
                <div>
                    <input type="password" id="password" name="password">
                </div> 
            </div>
            
            <div>
                <input type="submit" value="Sign Up">
            </div>

        </form>
    </body>
    
    <script src='../../node_modules/jquery/dist/jquery.min.js'></script>
    <script src='../../controllers/form_controller.js'></script>
</html>


